.black-box{
    width: 35%;
    height: 15%;
    background-color: black;
    color: white;
    text-align: center;
}
.arrow{
    display: flex;
    position: absolute;
    gap: 20px;
    top:500px;
    right: 1200px;
}
@media screen and (max-width:640px){
    
       .black-box{
        display: none;
       }
       
    }
    

